In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('..../cleaned_movies.csv')

In [4]:
df.head()

   Unnamed: 0  tmdbId  ...  Year                                       genres
0           0     862  ...  1995  Adventure|Animation|Children|Comedy|Fantasy
1           1    8844  ...  1995                   Adventure|Children|Fantasy
2           2   15602  ...  1995                               Comedy|Romance
3           3   31357  ...  1995                         Comedy|Drama|Romance
4           4   11862  ...  1995                                       Comedy

[5 rows x 5 columns]

In [5]:
pip install tmdbv3api

Collecting tmdbv3api
  Downloading https://files.pythonhosted.org/packages/82/65/15bd2dbdff9d95ffae188f66dc2e9ed3967538464d5ae70d92b856027ff3/tmdbv3api-1.6.1-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->tmdbv3api) (2020.6.20)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.6.1

In [6]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'Your API Key'

In [7]:
# Test df to check before running it on the main df
test_df = df.loc[df['tmdbId'].isin([862, 8844, 15602, 97342, 11, 157336])]

In [8]:
test_df

       Unnamed: 0  tmdbId  ...  Year                                       genres
0               0     862  ...  1995  Adventure|Animation|Children|Comedy|Fantasy
1               1    8844  ...  1995                   Adventure|Children|Fantasy
2               2   15602  ...  1995                               Comedy|Romance
257           257      11  ...  1977                      Action|Adventure|Sci-Fi
22928       23115  157336  ...  2014                                  Sci-Fi|IMAX
35138       35508   97342  ...  2010                                Drama|Romance

[6 rows x 5 columns]

In [ ]:
from tmdbv3api import Movie

# Retrieving 'Genres' from TMDB
tmdb_movie = Movie()
def get_genre(x):
    Genres = []
    movie_id = x
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=credits'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            Genres.append(data_json['genres'][i]['name'])
        return genre_str.join(Genres)
    else:
        np.NaN

# Retrieving 'Languages' from TMDB
def get_lan(x):
    lan = []
    movie_id = x
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=credits'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['original_language']:
        for i in range(0,len(data_json['original_language'])):
            lan.append(data_json['original_language'][i])
    else:
        np.NaN

# Retrieving 'Cast' from TMDB
def get_cast(x):
    cast = []
    movie_id = x
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=credits'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['credits']['cast']:
        for i in range(0,len(data_json['credits']['cast'])):
          cast.append(data_json['credits']['cast'][i]['name'])
        return cast
    else:
        np.NaN

# Retrieving 'Crew' from TMDB
def get_crew(x):
    crew = []
    movie_id = x
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=credits'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['credits']['crew']:
        for i in range(0,len(data_json['credits']['crew']['departmenting'=='Directing'])):
          #crew.append(data_json['credits']['crew'][i]['department'])
          crew.append(data_json['credits']['crew'][i]['name'])
        return crew
    else:
        np.NaN

# Retrieving 'Runtime' from TMDB
def get_runtime(x):
    runtime = []
    movie_id = x
    #print(movie_id)
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=credits'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['runtime']:
      #print(data_json['runtime'])
      #runtime_data = data_json['runtime']
      runtime.append(data_json['runtime'])
      return runtime
    else:
        np.NaN

# Retrieving 'Vote Count' from TMDB
def get_vote_count(x):
    vote_count = []
    movie_id = x
    #print(movie_id)
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=credits'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['vote_count']:
      #print(data_json['vote_count'])
      #runtime_data = data_json['vote_count']
      vote_count.append(data_json['vote_count'])
      return vote_count
    else:
        np.NaN

# Retrieving 'Avergave Rating' from TMDB
def get_vote_avg(x):
    vote_average = []
    movie_id = x
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=credits'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['vote_average']:
      vote_average.append(data_json['vote_average'])
      return vote_average
    else:
        np.NaN

# Retrieving 'Directors' from TMDB
def get_direc(x):
    crew = []
    movie_id = x
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=credits'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['credits']['crew']:
        for i in range(0,len(data_json['credits']['crew'])):
          for value in data_json['credits']['crew']:
            if value['job'] == 'Director':
              crew.append(value['name'])
              return crew
    else:
        np.NaN

# Retrieving 'Screenplay Writers' from TMDB
def get_screenplay(x):
    crew = []
    movie_id = x
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=credits'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['credits']['crew']:
        for i in range(0,len(data_json['credits']['crew'])):
          for value in data_json['credits']['crew']:
            if value['job'] == 'Screenplay':
              crew.append(value['name'])
              return crew
    else:
        np.NaN

# Retrieving 'Music Composers' from TMDB
def get_bgs(x):
    crew = []
    movie_id = x
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=credits'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['credits']['crew']:
        for i in range(0,len(data_json['credits']['crew'])):
          for value in data_json['credits']['crew']:
            if value['job'] == 'Original Music Composer':
              crew.append(value['name'])
              return crew
    else:
        np.NaN

# Retrieving 'Cinematographers' from TMDB
def get_cinematography(x):
    crew = []
    movie_id = x
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=credits'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['credits']['crew']:
        for i in range(0,len(data_json['credits']['crew'])):
          for value in data_json['credits']['crew']:
            if value['job'] == 'Director of Photography':
              crew.append(value['name'])
              return crew
    else:
        np.NaN

# Retrieving 'Keywords' from TMDB
def get_keywords(x):
    keywords = []
    movie_id = x
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}&append_to_response=keywords'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['keywords']:
        for i in range(0,len(data_json['keywords']['keywords'])):
            keywords.append(data_json['keywords']['keywords'][i]['name'])
        return keywords
    else:
        np.NaN

In [ ]:
df['Genres'] = df['tmdbId'].map(lambda x: get_genre(x))

In [ ]:
df.isna().any()

Unnamed: 0    False
tmdbId        False
Title          True
Year          False
genres        False
Genres         True
dtype: bool

In [ ]:
df.shape

(56987, 6)

In [ ]:
df.isna().sum()

Unnamed: 0       0
tmdbId           0
Title            2
Year             0
genres           0
Genres        1675
dtype: int64

In [ ]:
df[df.isna().any(axis=1)]

       Unnamed: 0  tmdbId  ...                 genres Genres
83             83  188588  ...           Comedy|Drama   None
126           126  290157  ...            Documentary   None
137           137  124639  ...           Action|Drama   None
391           391  267188  ...  Drama|Fantasy|Romance   None
399           399  172923  ...     Comedy|Crime|Drama   None
...           ...     ...  ...                    ...    ...
56939       57869  210412  ...     (no genres listed)   None
56940       57870  180554  ...     (no genres listed)   None
56941       57871  180549  ...     (no genres listed)   None
56968       57898  549443  ...     (no genres listed)   None
56979       57909   65924  ...     (no genres listed)   None

[1676 rows x 6 columns]

In [ ]:
df[df['Title'].isnull()]

       Unnamed: 0  tmdbId Title  Year              genres                Genres
15844       15936   45261   NaN  2009        Comedy|Drama  Drama Comedy Romance
24583       24785  292445   NaN  1988  (no genres listed)                  None

In [ ]:
df = df.dropna(subset=['Genres'])

In [ ]:
df.shape

(55312, 6)

In [ ]:
df = df.drop(columns = ['Unnamed: 0', 'genres'])

In [ ]:
df.head()

   tmdbId                        Title  Year                    Genres
0     862                    Toy Story  1995   Animation Comedy Family
1    8844                      Jumanji  1995  Adventure Fantasy Family
2   15602             Grumpier Old Men  1995            Romance Comedy
3   31357            Waiting to Exhale  1995      Comedy Drama Romance
4   11862  Father of the Bride Part II  1995                    Comedy

In [ ]:
df.isna().sum()

tmdbId    0
Title     1
Year      0
Genres    0
dtype: int64

In [ ]:
df[df['Title'].isnull()]

       tmdbId Title  Year                Genres
15844   45261   NaN  2009  Drama Comedy Romance

In [ ]:
df.loc[15844,'Title'] = '(Untitled)'

In [ ]:
print(df.loc[[15844]])

       tmdbId       Title  Year                Genres
15844   45261  (Untitled)  2009  Drama Comedy Romance

In [ ]:
df.isna().sum()

tmdbId    0
Title     0
Year      0
Genres    0
dtype: int64

In [ ]:
df['Language'] = df['tmdbId'].map(lambda x: get_lan(x))

In [ ]:
df.head(10)

   tmdbId  ... Language
0     862  ...      e n
1    8844  ...      e n
2   15602  ...      e n
3   31357  ...      e n
4   11862  ...      e n
5     949  ...      e n
6   11860  ...      e n
7   45325  ...      e n
8    9091  ...      e n
9     710  ...      e n

[10 rows x 5 columns]

In [ ]:
df['Language'] = df.Language.str.replace(' ', '')

In [ ]:
df.Language.unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'hr',
       'ru', 'mk', 'ja', 'sv', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'hu',
       'cy', 'vi', 'tr', 'pl', 'cs', 'da', 'no', 'ka', 'nb', 'xx', 'hi',
       'el', 'sh', 'ta', 'bo', 'ca', 'ab', 'fi', 'th', 'sk', 'bs', 'is',
       'sl', 'ps', 'eo', 'se', 'ro', 'mn', 'aa', 'bm', 'dz', 'hy', 'id',
       'zu', 'uk', 'af', 'la', 'et', 'lt', 'ku', 'fy', 'lv', 'tl', 'ur',
       'rw', 'bg', 'mr', 'eu', 'kk', 'ms', 'qu', 'uz', 'te', 'pa', 'am',
       'sq', 'jv', 'tg', 'ml', 'ln', 'lo', 'ay', 'kn', 'ff', 'ne', 'ky',
       'gl', 'sm', 'mt', 'iu', 'hz', 'fo', 'lb', 'si', 'yi', 'xh', 'km',
       'gu', 'ig', 'sw', 'cr', 'sn', 'as'], dtype=object)

In [ ]:
replace_values = {
    'en':'English','fr':'French','zh':'Chinese','it':'Italian','fa':'Persian','nl':'Dutch','de':'German','ar':'Arabic','es':'Spanish','hr':'Croatian',
    'ru':'Russian','mk':'Macedonian','ja':'Japanese','sv':'Swedish','ko':'Korean','sr':'Serbian','bn':'Bengali','he':'Hebrew','pt':'Portuguese','wo':'wolof','hu':'Hungarian',
    'cy':'Welch','vi':'Vietnamese','tr':'Turkish','pl':'Polish','cs':'Czech','da':'Danish','no':'Norwegian','ka':'Gerogian','nb':'Norwegian','hi':'Hindi',
    'el':'Greek','sh':'Serbo_Crotian','ta':'Tamil','bo':'Tibetian','ca':'Catalan','ab':'Abkhazian','fi':'Finnish','th':'Thai','sk':'Slovak','bs':'Bosnian','is':'Icelandic',
    'sl':'Slovenian','ps':'Pashto','eo':'Esperanto','se':'Sami','ro':'Romanian','mn':'Mangolian','aa':'Afar','dz':'Bhutani','hy':'Aremnian','id':'Indonesian',
    'zu':'Zulu','uk':'Ukranian','af':'Afrikaans','la':'Latin','et':'Estonian','lt':'Lithuanian','ku':'Kurdish','fy':'Frisian','lv':'Latvian','tl':'Tagalog','ur':'Urdu',
    'rw':'Kinyarwanda','bg':'Bulgarian','mr':'Marathi','eu':'Basque','kk':'Kazakah','ms':'Malay','qu':'Quechua','uz':'Uzbek','te':'Telugu','pa':'Punjabi','am':'Amharic',
    'sq':'Albanian','tg':'Tajik','ml':'Malayalam','ln':'Lingala','lo':'Laothian','ay':'Aymara','kn':'Kannada','ne':'Nepali','ky':'Kirghiz',
    'gl':'Galician','sm':'Samoan','mt':'Maltese','iu':'Inuktitut','fo':'Faeroese','si':'Sighalese','yi':'Yiddish','xh':'Xhosa','km':'Cambodian',
    'gu':'Gujarati','sw':'Swahili','sn':'Shona','as':'Assamese'}

In [ ]:
df = df.replace({"Language": replace_values})

In [ ]:
df.head()

   tmdbId                        Title  Year                    Genres Language
0     862                    Toy Story  1995   Animation Comedy Family  English
1    8844                      Jumanji  1995  Adventure Fantasy Family  English
2   15602             Grumpier Old Men  1995            Romance Comedy  English
3   31357            Waiting to Exhale  1995      Comedy Drama Romance  English
4   11862  Father of the Bride Part II  1995                    Comedy  English

In [ ]:
df.Language.unique()

array(['English', 'French', 'Chinese', 'Italian', 'Persian', 'Dutch',
       'German', 'cn', 'Arabic', 'Spanish', 'Croatian', 'Russian',
       'Macedonian', 'Japanese', 'Swedish', 'Korean', 'Serbian',
       'Bengali', 'Hebrew', 'Portuguese', 'wolof', 'Hungarian', 'Welch',
       'Vietnamese', 'Turkish', 'Polish', 'Czech', 'Danish', 'Norwegian',
       'Gerogian', 'xx', 'Hindi', 'Greek', 'Serbo_Crotian', 'Tamil',
       'Tibetian', 'Catalan', 'Abkhazian', 'Finnish', 'Thai', 'Slovak',
       'Bosnian', 'Icelandic', 'Slovenian', 'Pashto', 'Esperanto', 'Sami',
       'Romanian', 'Mangolian', 'Afar', 'bm', 'Bhutani', 'Aremnian',
       'Indonesian', 'Zulu', 'Ukranian', 'Afrikaans', 'Latin', 'Estonian',
       'Lithuanian', 'Kurdish', 'Frisian', 'Latvian', 'Tagalog', 'Urdu',
       'Kinyarwanda', 'Bulgarian', 'Marathi', 'Basque', 'Kazakah',
       'Malay', 'Quechua', 'Uzbek', 'Telugu', 'Punjabi', 'Amharic',
       'Albanian', 'jv', 'Tajik', 'Malayalam', 'Lingala', 'Laothian',
       'Aymara', 'Kannada', 'ff', 'Nepali', 'Kirghiz', 'Galician',
       'Samoan', 'Maltese', 'Inuktitut', 'hz', 'Faeroese', 'lb',
       'Sighalese', 'Yiddish', 'Xhosa', 'Cambodian', 'Gujarati', 'ig',
       'Swahili', 'cr', 'Shona', 'Assamese'], dtype=object)

In [ ]:
remove = ['cn','xx','bm','jv','ff','lb','ig','cr','Macedonian','wolof','Serbo_Crotian','Tibetian','Abkhazian','Pashto','Esperanto','Sami','Mangolian','Aremnian',
          'Zulu','Afrikaans','Basque','Kazakah','Quechua','Uzbek','Amharic','Albanian','Tajik','Lingala','Laothian','Aymara','Nepali','Kirghiz','Galician',
          'Samoan','Maltese','Inuktitut','hz','Faeroese','Sighalese','Xhosa','Cambodian','Swahili','Shona','Assamese']
df = df[~df.Language.isin(remove)]

In [ ]:
df['Cast'] = df['tmdbId'].map(lambda x: get_cast(x))
df['Crew'] = df['tmdbId'].map(lambda x: get_crew(x))
df['Runtime'] = df['tmdbId'].map(lambda x: get_runtime(x))
df['Vote_count'] = df['tmdbId'].map(lambda x: get_vote_count(x))
df['Vote_avg'] = df['tmdbId'].map(lambda x: get_vote_avg(x))
df['Director'] = df['tmdbId'].map(lambda x: get_direc(x))
df['Screenplay'] = df['tmdbId'].map(lambda x: get_screenplay(x))
df['Original_score'] = df['tmdbId'].map(lambda x: get_bgs(x))
df['Cinematography'] = df['tmdbId'].map(lambda x: get_cinematography(x))
df['Keywords'] = df['tmdbId'].map(lambda x: get_keywords(x))

In [36]:
df.head()

   tmdbId  ...                                           Keywords
0     862  ...  [martial arts, jealousy, toy, friendship, bull...
1    8844  ...  [giant insect, board game, jungle, disappearan...
2   15602  ...  [fishing, old man, best friend, duringcreditss...
3   31357  ...  [based on novel or book, interracial relations...
4   11862  ...  [parent child relationship, baby, midlife cris...

[5 rows x 15 columns]

In [37]:
df.to_csv('..../main_movies.csv', index=False)